/* EditThisPage footer */
.editThisPage {
  background-color: var(--ifm-color-gray-100);
  padding: 20px 0;
}
.editLinks {
  padding: 0 0 0 24px;
  margin: 0;
}
.editLinks li {
  list-style-type: none;
  margin-bottom: 6px;
}
.editLinks li:last-child {
  margin-bottom: 0;
}
.editLinks a {
  color: #606770;
  text-decoration: none;
}
.editLinks a:hover {
  color: var(--ifm-footer-link-hover-color);;
  text-decoration: underline;
}
.icon {
  width: 16px!important; 
  height: 16px!important; 
  padding: 0px 8px;
  margin: 0 21px 0 0;
}
.iconSuggestEdit {
  background:  url('/img/icons/icon-edit.svg') 50% 50% no-repeat; 
}
.iconGetHelp {
  background:  url('/img/icons/icon-help.svg') 50% 50% no-repeat; 
}
.iconTriangle {
  background:  url('/img/icons/icon-triangle.svg') 50% 50% no-repeat; 
}