/* stylelint-disable docusaurus/copyright-header */
@media screen and (min-width: 966px) { /* desktop */
}
@media screen and (max-width: 966px) { /* mobile/tablet all */
}
@media screen and (max-width: 768px) { /* mobile medium (/tablet) */
}
@media screen and (max-width: 480px) { /* mobile small */
}

/**************
  OVERALL 
***************/
h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 38px;
}

@media screen and (max-width: 480px) { /* mobile small */
  h2 br {
    display: none;
  }
}

table, th, td {
  border: none;
}

.contentContainer {
  max-width: 996px;
}

.pageSection {
  padding: 60px 0 100px 0;
}

.pageSectionBlue {
  background-color: var(--obj-primary-one);
  color: #fff;
}

.pageSectionBlue h2 {
  color: #fff;
}

.pageSectionLightBlue {
  background-color: #F7FDFF;
}

@media screen and (max-width: 966px) { /* mobile all */
  .pageSection, .pageSectionBlue {
    padding: 50px 0;
  }
}

.twoColumnItems {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-bottom: -80px; /* Negate the padding from the last row */
  text-align: left;
}

.twoColumnItem {
  flex: 50%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  vertical-align: top;
  padding: 0 20px 80px 0;
}

.twoColumnItem .twoColumnIcon {
  min-width: 150px;
  text-align: center;
  padding-bottom: 30px;
}

.twoColumnItem img {
  max-height: 90px;
}

@media screen and (max-width: 768px) { /* mobile medium (/tablet) */
  .twoColumnItem {
    flex: 100%;
  }
}

@media screen and (max-width: 480px) { /* mobile small */
  .twoColumnItem {
    display: block;
    text-align: center;
    padding-bottom: 60px;
  }
}

footer {
  background-color: #F7FDFF;
  color: #333;
  font-size: 16px;
  text-align: center;
  padding: 50px 0 130px 0;
}

@media screen and (max-width: 966px) { /* mobile all */
  footer {
    padding: 30px 0 60px;
  }
}

footer h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.ctaButton {
  height: 48px;
  line-height: 28px;
  padding: 10px 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(51, 51, 51, 0.25);
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0;
  transition: 0.5s;
}

.ctaButton:hover {
  background: #F7FDFF;
  box-shadow: 1px 2px 3px rgba(51, 51, 51, 0.25);
  color: #000;
  cursor: pointer;
}

.ctaButton span:nth-child(1) { /* the icon */
  margin: 0 16px 0 0;
  float: left;
}

.pageSectionLightBlue .ctaButton:hover {
  background: #fff;
}

.introText {
  font-weight: bold;
}
@media screen and (max-width: 966px) { /* mobile/tablet all */
  .introText br {
    display: none;
  }
}

/**************
  HOMEPAGE 
***************/
.heroBanner {
  padding: 80px 0 40px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  --ifm-hero-text-color: black;
}

.heroTitle {
  font-family: 'Bungee', serif;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.2em;
  margin: 30px 0 4px 0;
}

@media screen and (max-width: 768px) { /* mobile medium (/tablet) */
  .heroBanner {
    /* padding: 5rem 2rem; */
  }
  
}

@media screen and (max-width: 480px) { /* mobile small */
  .heroBanner {
    padding: 4rem 0 1rem 0;
  }
  .heroTitle {
    font-size: 24px;
  }
}

.heroContainer {
  /* max-width: 850px; */
  max-width: 996px;
}

.heroImage {
  width: 48px;
  height: 48px;
  /*padding-bottom: 38px;*/
}

.heroSubTitle {
  font-size: 18px;
  line-height: 150%;
  margin-top:30px;
  margin-bottom: 40px;
  /*padding: 0 10%;*/
}
@media screen and (max-width: 966px) { /* mobile/tablet all */
  .heroSubTitle {
    padding: 0;
  }
  .heroTitle br, .heroSubTitle br {
    display: none
  }
}

.productIntroVideo {
  position: relative; 
  padding-bottom: 58.25%;
  height: 0;
  margin: 0 auto 50px auto;
  /* -webkit-box-shadow: 2px 5px 16px 0px #000, 5px 5px 15px 5px rgba(0,0,0,0);  */
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.25));
  border-radius: 10px !important;
  overflow: hidden;
}
.productIntroVideo iframe {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  margin: 0;
}

.theProduct {
  text-align: center;
  padding: 60px 0 28px 0;
}

.theProduct .theStack, .theProduct .theStackVertical, .theProduct .theStackHorizontalVertical {
  margin: 20px auto 40px auto;
}
.theProduct .theStackVertical, .theProduct .theStackHorizontalVertical {
  display: none;
}

.theProduct .ctaButton {
  margin: 40px 0 100px 0;
}

.theProduct .learnMore {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 966px) { /* mobile/tablet all */
  .theProduct {
    padding: 0 var(--ifm-spacing-horizontal);
  }
  .theProduct p br {
    display: none;
  }
}
@media screen and (max-width: 768px) { /* mobile medium (/tablet) */
  .theProduct .theStack {
    display: none;
  }
  .theProduct .theStackHorizontalVertical {
    display: block;
  }
  .theProduct .ctaButton {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 480px) { /* mobile small */
  .theProduct .theStack {
    display: none;
  }
  .theProduct .theStackHorizontalVertical {
    display: none;
  }
  .theProduct .theStackVertical {
    display: block;
  }
  .theProduct .ctaButton {
    margin-bottom: 60px;
  }
}

.betterData {
  margin-bottom: 30px;
}

.betterData .valueRowLeft div:first-child img {
  margin-top: 40px;
}

.betterData .outro {
  margin: 90px auto 20px auto;
  text-align: center;
}

.valueRowLeft, .valueRowRight {
  display: flex;
  flex-flow: row;
  text-align: left;
}
.valueRowLeft>div:nth-child(1), .valueRowRight>div:nth-child(2) {
  width: 403px; /* 320px + 1x83px grid cols left and right */
}
.valueRowLeft>div:nth-child(2), .valueRowRight>div:nth-child(1) {
  flex: 50%;
  text-align: center;
}

.valueRowLeft p, .valueRowRight p {
  margin-bottom: 24px;
}
.valueRowLeft p:first-child, .valueRowRight p:first-child {
  font-weight: bold;
}
.valueRowLeft p:first-child {
  margin-top: 20px;
}

.valueRowRight>div:nth-child(1) {
  padding-right: 25px;
}

@media screen and (max-width: 768px) { /* mobile medium (/tablet) */
  .valueRowLeft {
    flex-flow: row wrap;
    text-align: center;
  }
  .valueRowRight {
    flex-flow: row wrap-reverse;
    text-align: center;
  }
  .valueRowLeft>div:nth-child(1), .valueRowRight>div:nth-child(2) {
    width: 100%;
    padding: 0 40px 0 40px;
  }
  .valueRowLeft>div:nth-child(2) {
    margin-top: 80px;
  }
  .valueRowLeft>div:first-child img, .valueRowRight>div:last-child img {
    display: none;
  }
  .valueRowLeft p:first-child, .valueRowRight p:first-child {
    font-weight: bold;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) { /* mobile small */
  .valueRowLeft, .valueRowRight {
    margin-bottom: 0;
  }
  
  .valueRowLeft>div:nth-child(1), .valueRowRight>div:nth-child(2) {
    padding: 0 10px 0 10px;
  }
  .valueRowLeft>div:nth-child(2) {
    margin-top: 40px;
  }
  .valueRowLeft>div:first-child img {
    margin-top: 20px;
  }
  /* on mobile, center _all_ CTA buttons for all value items */
  .valueRowCta {
    text-align: center;
    margin: 24px 0 0 0;
  }
}

.bach {
  text-align: center;
}
.bach h2 {
  margin-bottom: -20px;
}
.bach img.valueBachExample {
  margin: 40px auto 65px auto;
}
.bach img.valueBachExampleMedium {
  display: none;
}
.bach img.valueBachExampleSmall {
  display: none;
}
@media screen and (max-width: 966px) { /* mobile/tablet all */
}
@media screen and (max-width: 768px) { /* mobile medium (/tablet) */
  .bach img.valueBachExample {
    display: none;
  }
  .bach img.valueBachExampleMedium {
    display: block;
  }
}
@media screen and (max-width: 480px) { /* mobile small */
  .bach img.valueBachExample {
    display: none;
  }
  .bach img.valueBachExampleSmall {
    display: block;
    margin: 0 auto 50px auto;
  }
}

.reusableModels .valueReusableModelsDiagram {
  margin: 50px auto;
}

.reusableModels .valueRowRight {
  margin-bottom: 70px;
}

.reusableModels .outro {
  margin: 90px auto 20px auto;
  text-align: center;
}

.quickStart {
  text-align: center;
}
.quickStartIntro {
  margin: 6px auto 50px auto;
  font-weight: normal;
}
.quickStartOutro {
  margin: 20px auto 28px auto;
}
.quickStart .takesLessThan5Minutes {
  display: block;
  margin: 8px auto;
  padding-left: 50px;
}

/**************
 ABOUT US PAGE 
***************/

.aboutUsBanner {
  padding: 80px 0 50px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  --ifm-hero-text-color: black;
}

.aboutUsBanner h1 {
  font-family: 'Bungee', serif;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.2em;
  margin: 30px 0 4px 0;
}
.aboutUsBanner h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 80px 0;
}

.aboutUsPageSection {
  padding: 60px 0 60px 0;
  font-size: 18px;
  line-height: 150%;
}

.aboutUsPageSection img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutUsPageSection h2 {
  text-align: center;
  font-size: 20px;
  margin: 30px 0;
}

@media screen and (min-width: 966px) { /* desktop */
  .aboutUsPageWhyUs h2 {
    text-align: left;
  }
}
@media screen and (max-width: 966px) { /* mobile all */
  .aboutUsPageWhyUs h2 {
    margin: 50px 0;
  }
}

.whyUsReason {
  display: flex;
  margin-bottom: 30px;
}

.whyUsReason>div:nth-child(1) { /* the icon column */
  width: 140px;
  text-align: left;
}
.whyUsReason>div:nth-child(1) img { /* the icon column image */
  margin: 10px 54px 0 0;
  width: 64px;
}

.whyUsReason>div:nth-child(2) { /* the explanation */
  flex: 100%;
}

@media screen and (max-width: 966px) { /* mobile all */
  .whyUsReason {
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
  .whyUsReason>div:nth-child(1) { /* the icon column */
    width: 100%;
    text-align: center;
  }
  .whyUsReason>div:nth-child(1) img { /* the icon column image */
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 966px) { /* desktop */
  .aboutUsPageContributors h2 {
    text-align: left;
  }
}
@media screen and (max-width: 966px) { /* mobile all */
  .aboutUsPageContributors {
    text-align: center;
  }
}

.contributorCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.contributorCard {
  width: calc(25% - 20px);
  margin: 0 20px 16px 0;
  text-align: center;
}

@media screen and (max-width: 966px) { /* mobile all */
  .contributorCard {
    width: calc(33.33% - 40px);
    margin: 8px 20px;
  }
}
@media screen and (max-width: 768px) {
  .contributorCard {
    width: calc(50% - 40px);
    margin: 8px 20px;
  }
}
@media screen and (max-width: 480px) {
  .contributorCard {
    width: 80%;
    margin: 8px 9%;
  }
}

.contributorAvatar {
  display: block;
}

.contributorAvatarSubtitle a {
  color: black;
}

.contributorName {
  color: #999999;
}

.contributorFooter {
  padding-top: 16px;
}

/**************
 JOBS PAGE 
***************/

.jobsHeader {
  padding: 80px 0 0 0;
}

.jobsContainer {
  margin-top: 0;
  text-align: left;
  max-width: 960px;
}

.jobsContainer h2 {
  display: flex;
  align-items:center;
  margin-top: 30px;
}

.jobsContainer h1 img, .jobsContainer h2 img {
  vertical-align: middle;
  margin: 0 18px 0 0;
}

.jobsContainer {
  margin-top: 0;
  text-align: left;
  max-width: 960px;
}
