article .blogPostFooterCta {
  background-color: #F7FDFF;
  margin: 40px 0;
  padding: 20px 5%;
  border-radius: 10px;
  font-size: 0.8em;
  width: 110%;
  margin-left: -5%;
  font-family: 'Roboto';
}

article .blogPostFooterCta p {
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 150%;
}

article .blogPostFooterCta h2 {
  margin: 0 0 16px 0;
  font-size: 20px;
}

article .blogPostFooterCta h3 {
  color: #000;
  font-weight: bold;
  margin: 20px 0 0 0;
}

article .blogPostFooterCta a {
  font-family: Roboto;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}
article .blogPostFooterCta a:hover {
  text-decoration: none;
  color: var(--ifm-link-color);
}